.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tooltip {
  font-size: var(--font-size-sm);
  color: var(--color-fg-tertiary);
}

.content {
  padding-top: var(--space-2);
}
